@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
$text-color: #766f94;

$digital-color: #90dcbe;
$blue-btn: #0942c7;
$pink-btn: #f262ff;
$hot-pink: #ffbcf6;

.gradient-theme {
  background: url(../src/assets/bg/gradientbg.jpg) no-repeat;
  background-size: cover;
  * {
    font-family: "open-sans";
  }
  #calcCont {
    background: linear-gradient(
      0deg,
      hsl(330deg, 77%, 49%) 0%,
      hsl(197deg, 85%, 51%) 100%
    );
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: none;
    #calcScreen {
      margin: 20px auto 15px;
      border-bottom: 1px solid #fff;
      #calcOperation {
        font-size: 40px;
        margin-top: -60px;
      }
      #calcResult {
        font-size: 50px;
      }
    }
    #calcBtns {
      #numBtn {
        button {
          background: transparent;
          border-radius: 50%;
        }
      }
      #symBtn {
        button {
          font-weight: 700;
          background: transparent;
          border-radius: 50%;
        }
        #⌫ {
          border-radius: 50%;
          left: -174px;
        }
      }
    }
  }
  #todoCont {
    #todoListWrapper {
      background-color: #1badea;
      background-image: radial-gradient(#dd1d7d 0.5px, #e9dfe4 0.5px);
      background-size: 10px 10px;
      h2 {
        color: $text-color;
      }
      form {
        #todoWrapper {
          #todoInner {
            input {
              background: #fff;
              border-radius: 10px;
              color: $text-color;
            }
            button {
              background: transparent;
              color: $text-color;
              -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
              border: 0.5px solid #4080f8;
            }
          }
        }
      }
      .listCont {
        .cbCont {
          .cbInner {
            input[type="checkbox"] {
              accent-color: #fff !important;
            }
            .todoTxt {
              p {
                color: $text-color;
              }
            }
          }
        }
        #btnTodo {
          button {
            background: transparent;
            color: $text-color;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            border: 0.5px solid #4080f8;
          }
        }
      }
      &:before,
      &::after {
        display: none;
      }
    }
  }
  #caleCont {
    background-color: #ff9a8b;
    background-image: linear-gradient(
      90deg,
      #ff9a8b 0%,
      #ff6a88 55%,
      #ff99ac 100%
    );

    .fc-header-toolbar {
      padding-top: 10px;
      .fc-toolbar-chunk {
        //First row of buttons containing today, < and >
        &:first-of-type {
          .fc-today-button {
            background: $digital-color;
            color: #000;
            opacity: 1 !important;
          }
          .fc-button-group {
            .fc-button-primary {
              background: $hot-pink;
              color: #000;
            }
          }
        }
        //Calendar Title
        &:nth-of-type(2) {
          h2 {
            color: #fff;
            font-size: 35px;
          }
        }
        //Last row of btns, containing month, week and day toggles
        &:last-of-type {
          .fc-button-group {
            .fc-button-active {
              background: $blue-btn;
            }
            button {
              background: $pink-btn;
            }
          }
        }
      }
    }
    .fc-scroller-liquid-absolute {
      overflow: hidden !important;
    }
    .fc-view-harness {
      .fc-timeGridDay-view,
      .fc-timeGridWeek-view,
      .fc-timeGridMonth-view,
      .fc-dayGridMonth-view {
        table {
          thead {
            //Color for the day markers
            a {
              color: $digital-color;
            }
          }
          tbody {
            //This is the background color for today
            .fc-day-today {
              background-color: #ce9401;
            }
            //Color for the days of the month
            .fc-daygrid-day-number {
              color: $blue-btn;
              opacity: 1;
            }
            //Color of the days from other months
            .fc-day-other {
              a {
                color: #fff !important;
              }
            }
          }
          //Month calendar days from other month's opacity control
          .fc-day-other .fc-daygrid-day-top {
            opacity: 1 !important;
          }
          //Week calendar, left column color
          .fc-timegrid-axis-cushion,
          .fc-timegrid-axis-cushion {
            color: #fff;
          }
        }
      }
    }
  }
  #weathCont {
    position: relative;
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    #wtitle {
      color: #d5d4d4;
    }
    .rain {
      background: rgb(249, 69, 69);
      background: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0) 0%,
        #ffffff 100%
      );
      height: 50px;
      position: absolute;
      width: 1px;
      display: block !important;
    }

    $rain: 150;

    @for $i from 1 through $rain {
      $top: (random(50) + 50) * 1%;
      $left: random(100) * 1%;
      $opacity: (random(30) + 30) * 0.01;
      $delay: random(20) - 1s;

      .rain:nth-of-type(#{$i}) {
        animation-name: rain-#{$i};
        animation-delay: $delay;
        animation-duration: random(6) + 4s;
        animation-iteration-count: infinite;
        left: $left;
        opacity: $opacity;
        top: -$top;
      }

      @keyframes rain-#{$i} {
        from {
          left: $left;
          opacity: $opacity;
          top: -$top;
        }
        to {
          opacity: 0;
          top: $top + 40%;
        }
      }
    }
  }
}
