.light-theme {
  background: #fafafa;
  .buttonCont {
    h2 {
      color: #000;
      text-transform: uppercase;
    }
  }
  #calcCont {
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    #calcScreen {
      background: #121212;
      margin: 0;
      width: auto;
      #calcOperation {
        div {
          font-size: 30px;
          font-weight: 800;
          color: #fff;
        }
      }
      #calcResult {
        font-size: 40px;
        font-weight: 800;
        color: #fff;
      }
    }
    #calcBtns {
      margin: 0;
      display: flex;
      justify-content: center;
      #numBtn {
        justify-content: center;
        .numBtn {
          background: #dcdcdd;
          border-radius: 50%;
          color: #758594;
          margin: 1px;
        }
      }
      #symBtn {
        .symBtn {
          background: #20ceb2;
          &:nth-of-type(7) {
            border-radius: 50%;
            left: -58px;
          }
        }
        #⌫ {
          border-radius: 50%;
          left: -174px;
        }
      }
    }
  }
  #todoCont {
    #todoListWrapper {
      h2 {
        color: #000;
      }
      form {
        #todoWrapper {
          #todoInner {
            button {
              background: #20ceb2;
              color: #000;
            }
          }
        }
      }
      .listCont {
        #btnTodo {
          button {
          }
        }
      }
    }
  }
  #caleCont {
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    .fc-header-toolbar.fc-toolbar {
      .fc-toolbar-chunk {
        &:first-of-type {
          .fc-button-group {
            button {
              background: #20ceb2 !important;
            }
          }
        }
        &:last-of-type {
          .fc-button-group {
            button {
              &:first-of-type {
                background: #08332c !important;
              }
              &:not(:first-of-type) {
                background: #20ceb2 !important;
              }
            }
          }
        }
      }
    }
  }
}
