@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "digital-7";
  src: url("../fonts/digital-7.ttf");
  src: url("../fonts/digital-7\ \(italic\).ttf");
  src: url("../fonts/digital-7\ \(mono\ italic\).ttf");
  src: url("../fonts/digital-7\ \(mono\).ttf");
}

//General Layout
#appGrid {
  width: 100%;
  #gridInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #buttonCont {
      width: 340px;
      margin: 0 auto;
      @media (min-width: 992px) {
        width: 600px;
      }
    }
    #componentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1530px;
      width: 100%;
      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .outerCont {
        width: 340px;
        margin: 20px 0;
        @media (min-width: 768px) {
          margin: 20px;
        }
        @media (min-width: 992px) {
          margin: 20px 30px;
        }
      }
    }
  }
}

//Buttons Layout
#buttonCont {
  padding: 20px;
  #btnInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
      margin: 10px;
      width: 40%;
    }
    .light-theme {
      border: 1px solid #000;
      color: #000;
      font-family: "open-sans";
    }
    .super-theme {
      border: 1px solid #ff03f4;
      background-size: cover;
      font-family: "digital-7";
      font-size: 20px;
    }
    .gradient-theme {
      border: 1px solid #ff03f4;
      background-size: cover;
      color: #413e52;
      font-family: "open-sans";
    }
    .dark-theme,
    .auto-theme {
      font-family: "open-sans";
      border: 1px solid #2873ff;
    }
  }
}

.gradient-theme {
  //background: #5ad6ff;
}

.dark-theme {
  background: #000;
}
