//General Layout
#appGrid {
  width: 100%;
  #gridInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #buttonCont {
      width: 340px;
      margin: 0 auto;
      @media (min-width: 992px) {
        width: 600px;
      }
    }
    #componentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1530px;
      width: 100%;
      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .outerCont {
        width: 340px;
        margin: 20px 0;
        @media (min-width: 768px) {
          margin: 20px;
        }
        @media (min-width: 992px) {
          margin: 20px 30px;
        }
      }
    }
  }
}

//Buttons Layout
#buttonCont {
  padding: 20px;
  #btnInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
      margin: 10px;
      width: 40%;
    }
    .light-theme {
      border: 1px solid #000;
      color: #000;
    }
    .super-theme {
      border: 1px solid #ff03f4;
      background-size: cover;
    }
    .gradient-theme {
      border: 1px solid #ff03f4;
      background-size: cover;
      text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.6);
      color: #766f94;
    }
  }
}

.gradient-theme {
  //background: #5ad6ff;
}

.dark-theme {
  background: #000;
}
