//General Layout
#appGrid {
  width: 100%;
  #gridInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    #buttonCont {
      width: 340px;
      margin: 0 auto;
    }
    #componentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      //width: 1600px;
      max-width: 100%;
      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .outerCont {
        width: 340px;
        margin: 20px 0;
        @media (min-width: 768px) {
          margin: 20px;
        }
      }
    }
  }
}

//Buttons Layout
#buttonCont {
  padding: 20px;
  #btnInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
      margin: 10px;
      width: 40%;
    }
    .light-theme {
      border: 1px solid #000;
      color: #000;
    }
  }
}

//Calculator Layout
#calcCont {
  border: 2px solid #fff;
  width: 320px;
  border-radius: 10px;
  margin: 20px;
  #calcScreen {
    height: 180px;
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #calcOperation {
      display: flex;
      justify-content: space-evenly;
      > div {
        width: 33%;
        margin: 10px;
        border-radius: 5px;
        height: 26px;
      }
    }
    #calcResult {
      > div {
        margin: 10px;
        border-radius: 5px;
        height: 26px;
      }
    }
  }
  #calcBtns {
    display: flex;
    margin: 20px;
    #numBtn {
      display: flex;
      flex-wrap: wrap;
      .numBtn {
        width: 30%;
        margin: 2px;
        display: flex;
        justify-content: center;
      }
    }
    #symBtn {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      .symBtn {
        width: 45%;
        display: flex;
        justify-content: center;
        margin: 2px;
        &:nth-of-type(7) {
          position: absolute;
          bottom: 0;
          left: -52px;
          width: 46.4px !important;
        }
      }
      #⌫ {
        position: absolute;
        left: -103px;
        bottom: 0;
        width: 46.4px !important;
      }
    }
  }
}

//to-do list Layout
#todoCont {
  margin: 30px 0;
  #todoListWrapper {
    background: #e6dfd3;
    position: relative;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 1;
    padding: 20px;
    border: 1px solid #bbb;
    h2 {
      text-transform: uppercase;
    }
    form {
      #todoWrapper {
        #todoInner {
          input {
            margin: 0 10px;
          }
        }
      }
    }
    .listCont {
      padding-top: 20px;
      color: #000;
      font-weight: 700;

      #cbCont {
        #cbInner {
          display: flex;
          justify-content: start;
          .cbText {
            margin-right: 20px;
          }
          .todoTxt {
            color: #000;
          }
        }
      }
    }
    &:before,
    &:after {
      content: "";
      display: block;
      box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
      position: absolute;
      height: 95%;
      width: 99%;
      background-color: #e6dfd3;
      border: 1px solid #bbb;
    }
    &:before {
      right: 15px;
      top: 0;
      transform: rotate(-1deg);
      z-index: -1;
    }
    &:after {
      top: 5px;
      right: -5px;
      transform: rotate(1deg);
      z-index: -2;
    }
  }
}

//Calendar Layout
#caleCont {
  margin: 30px 0;
  .fc-toolbar.fc-header-toolbar {
    @media (max-width: 1439px) {
      display: flex;
      flex-direction: column;
    }
    .fc-toolbar-chunk {
      @media (max-width: 1439px) {
        display: flex;
      }
      h2 {
        color: #000;
        margin: 10px 0;
      }
    }
  }
}

#weathCont {
  padding: 20px;
  height: 780px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    input {
      background: #fff;
      border: 1px solid #000;
      border-radius: 8px;
      color: #000;
      padding: 0 10px;
      font-size: 18px;
      margin: 10px 0;
    }
    button {
      background: #fff;
      border: 1px solid #000;
      color: #000;
      margin: 10px auto;
      width: 80px;
    }
  }
  #weathercondition {
    #wimg {
      img {
        height: auto;
        width: 300px;
      }
    }
    #wcity {
      font-size: 50px;
    }
    #wdescription {
      font-size: 30px;
    }
    .temperatureCont {
      margin: 20px 0;
      font-size: 20px;
      .tempIndicator {
        font-weight: 800;
        font-size: 40px;
        margin-left: 10px;
      }
      img {
        width: 40px;
      }
    }
  }
}

.light-theme {
  background: #f7f6f2;
  .buttonCont {
    h2 {
      color: #000;
      text-transform: uppercase;
    }
  }
  #calcCont {
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    #calcScreen {
      background: #121212;
      margin: 0;
      width: auto;
      #calcOperation {
        div {
          font-size: 30px;
          font-weight: 800;
          color: #fff;
        }
      }
      #calcResult {
        font-size: 40px;
        font-weight: 800;
        color: #fff;
      }
    }
    #calcBtns {
      margin: 0;
      display: flex;
      justify-content: center;
      #numBtn {
        justify-content: center;
        .numBtn {
          background: #dcdcdd;
          border-radius: 50%;
          color: #758594;
          margin: 1px;
        }
      }
      #symBtn {
        .symBtn {
          background: #20ceb2;
          &:nth-of-type(7) {
            border-radius: 50%;
            left: -58px;
          }
        }
        #⌫ {
          border-radius: 50%;
          left: -174px;
        }
      }
    }
  }
  #todoCont {
    h2 {
      color: #000;
    }
  }
}

.super-theme {
  background: #d4d4d4;
  #calcCont {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    border: 10px solid #000;
    clip-path: polygon(
      0px 12px,
      4px 12px,
      4px 4px,
      8px 4px,
      12px 4px,
      12px 0px,
      calc(100% - 12px) 0px,
      calc(100% - 12px) 4px,
      calc(100% - 4px) 4px,
      calc(100% - 4px) 8px,
      calc(100% - 4px) 12px,
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 4px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 4px),
      calc(100% - 12px) 100%,
      12px 100%,
      12px calc(100% - 4px),
      4px calc(100% - 4px),
      4px calc(100% - 8px),
      4px calc(100% - 12px),
      0px calc(100% - 12px)
    );
  }
  #calcScreen {
    //background: #76dfff;
    background: #fdec56;
    color: #000;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 10px;
    color: #000;
    clip-path: polygon(
      0px 12px,
      6px 12px,
      6px 6px,
      12px 6px,
      12px 0px,
      calc(100% - 12px) 0px,
      calc(100% - 12px) 6px,
      calc(100% - 6px) 6px,
      calc(100% - 6px) 12px,
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 6px) calc(100% - 12px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 12px) calc(100% - 6px),
      calc(100% - 12px) 100%,
      12px 100%,
      12px calc(100% - 6px),
      6px calc(100% - 6px),
      6px calc(100% - 12px),
      0px calc(100% - 12px)
    );
  }
  #calcBtns {
    button {
      border: 3px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      box-shadow: 3px 3px 0px 0px rgb(0 0 0);
    }
    .numBtn {
      background: #0942c7;
    }
    .symBtn {
      background: #f262ff;
    }
  }
}

.gradient-theme {
  background: #5ad6ff;
}

.dark-theme {
  background: #121212;
}
